* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.info {
    margin-top: 30px;
}

body {
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo-container {
    width: 50px;
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.features ul li a {
    text-decoration: none;
    color: #0077c2;
}

nav a:hover {
    color: white;
    padding: 10px;
    background-color: #0077c2;
    border-radius: 20%;
}


main {
    width: 100%;
    max-width: 1200px;
    margin-top: 80px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 40px;
}

.features {
    margin: 80px 0;
    text-align: center;
}

.features h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.features ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features li {
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.features li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.testimonials {
    margin: 80px 0;
    text-align: center;
}

.testimonials h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.testimonials ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonials li {
    width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.testimonials li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #0077c2;
}

.testimonials img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 14px;
    color: #666;
}

.logo-container {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
}


